/* font-family: 'Bubblegum Sans', cursive; */
/* font-family: 'Roboto', sans-serif; */

 /* colors
grey: #8f9aad */

/* text colors  */

.pink-text {
    color: #FF9AA2;
    text-shadow: 0.5px 0.5px black;
}

.green-text {
    color: #8DD1BA;
    text-shadow: 0.5px 0.5px black;
}

.blue-text {
    color: #80E2FF;
    text-shadow: 0.5px 0.5px black;
}

.yellow-text {
    color: #fff900;
    text-shadow: 0.5px 0.5px black;
}

.purple-text {
    color: #CE9DD9;
    text-shadow: 0.5px 0.5px black;
}

/* Nav bar */

.logo{
    /* border-radius: 50%; */
    height: 200px;
    margin-left: 20px;
    margin-top: -30px;
    position: absolute;
    /* border: 1px solid #8F96A0;  */
    border-radius: 50%; 
}

.navbar {
    position: fixed;
    width: 100%;
    max-height: 100%;
    background-color: #8F96A0;
    z-index: 10;
}

.nav-container {
    width: 100%;
    margin-right: 150px;
    display: flex;
    align-items: center; 
}

.nav-container ul {
    margin: 0 auto;
}

.navbar li {
    display: inline-block;
    align-items: flex-end;
    padding: 10px;
    margin-left: 30px;
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 200%;
}

.navbar li a {
    text-decoration: none;
}

.navbar li a:hover {
    color: #fafafa;
}

.active {
    border-bottom: 2px solid;
}

.navbar button {
    margin-right: 5%;
}

@media screen and (max-width: 960px) {
    .nav-container {
        width: 100%;
        margin-right: 0px;
        display: block;
    }
    .navbar {
    overflow-y: scroll;
    }
    .logo{
    border-radius: 50%;
    height: 100px;
    margin-left: 20px;
    margin-top: -10px;
    position: fixed;
}
}

/* Hero Section  */

.bg-img {
    background: url(../images/hero-img.png);
    background-size: cover;
    height: 100%; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 116px;

}

.hero-heading {
    font-family: 'Bubblegum Sans', cursive;
    background-color: rgba(80, 91, 106, 0.7);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 45px;
    border-radius: 25px;
    position: relative;
    padding: 60px;
}

.callout {
    color: #8DD1BA;
    font-size: 4em;
    text-shadow: 2px 2px #000;
}

.subheading {
    word-spacing: 1em;
    color: #eeeeee;
    margin-top: 37px;
    margin-bottom: 45px;
}

.cta-enquire {
    font-size: 2em;
    color: #bd6068;
    background-color: #FF9AA2;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 2px 25px #fafafa;
    transition: all 0.3s;
}

.cta-enquire:hover {
    color: #FF9AA2;
    background-color: #bd6068 ;
}

@media screen and (max-width: 960px) {
    .hero-heading {
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
}
}

@media screen and (max-width: 280px) {
    .hero-heading {
    margin-left: 2%;
    margin-right: 2%;
    padding: 15px;
}
.callout {
    color: #8DD1BA;
    font-size: 2em;
    text-shadow: 5px 5px #000;
}
}