/* font-family: 'Bubblegum Sans', cursive; */
/* font-family: 'Roboto', sans-serif; */

/* Nav bar */

.navbar {
    position: fixed;
    width: 100%;
    background-color: #a09fa0;
    height: 90px;
}

.navbar li {
    display: inline-block;
    align-items: flex-end;
    padding: 10px;
    margin-left: 30px;
    
}

.nav-list {
    display: flex;
    align-items: flex-end;
}