/* font-family: 'Bubblegum Sans', cursive; */
/* font-family: 'Roboto', sans-serif; */

html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Bubblegum Sans", cursive;
  text-shadow: 2px 2px #2e294e;
}

h1 {
  font-size: 60px;
  color: #8dd1ba;
}

h2 {
  font-size: 42px;
  margin: 30px 0px;
  color: #ffffff;
}

h3 {
  font-size: 24px;
  color: #ffffff;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #3b3b3c;
}

.content-max-width {
  max-width: 1200px;
  margin: 0 auto;
}

/* text colors  */

.pink-text {
  color: #ff9aa2;
}

.dark-pink-text {
  color: #bf7379;
}

.green-text {
  color: #8dd1ba;
}

.dark-green-text {
  color: #2b6d57;
}

.blue-text {
  color: #80e2ff;
}

.dark-blue-text {
  color: #006380;
}

.yellow-text {
  color: #fff900;
}

/* buttons */

.button {
  font-size: 2em;
  background-color: #8dd1ba;
  padding: 5px 20px;
  border-radius: 100px;
  cursor: pointer;
  font-family: "Bubblegum Sans", cursive;
  text-decoration: none;
  color: #2b6d57;
  box-shadow: 0 2px 25px #fafafa;
  transition: all 0.3s;
}

.button:hover {
  color: #8dd1ba;
  background-color: #2b6d57;
  box-shadow: 0 0px 50px #fafafa;
}

.button:focus {
  outline: none;
}

/* Nav bar */

.logo {
  max-width: 15%;
  min-width: 100px;
  margin-left: 20px;
  margin-top: -30px;
  position: absolute;
  border-radius: 50%;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #8f96a0;
  z-index: 10;
}

.nav-container ul {
  margin: 0 auto;
}

.navbar li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  font-family: "Bubblegum Sans", sans-serif;
  font-size: 36px;
}

.navbar li a {
  text-decoration: none;
  text-shadow: 0.5px 0.5px #2e294e;
}

.navbar button {
  padding: 5px;
  margin: 2% 3%;
}

@media screen and (max-width: 960px) {
  .navbar li {
    font-size: 24px;
    padding: 5px;
  }
}

/* hero img  */

.bg-img {
  background: url(../images/hero-img2.png) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  position: relative;
}

.hero-heading {
  background-color: rgba(80, 91, 106, 0.7);
  border-radius: 25px;
  padding: 45px;
  margin-top: 175px;
  margin-bottom: 150px;
}

.hero-heading h2 {
  word-spacing: 16px;
}

/* about section */

.heading-right {
  text-align: end;
}

.heading-left {
  text-align: start;
}

.about-container {
  background-color: #8dd1ba;
  padding: 45px 10px;
}

.centered-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 25px;
  padding: 10px;
  min-width: 150px;
  -webkit-box-shadow: 0px 3px 5px #62676e;
  -moz-box-shadow: 0px 3px 5px #62676e;
  box-shadow: 0px 3px 5px #62676e;
}

.about-image {
  border: solid 3px #2b6d57;
}

/* learn section  */

.learn-container {
  background-color: rgba(255, 154, 162, 0.5);
  padding: 45px 10px;
}

.learn-image {
  border: solid 3px #bf7379;
}

.price-list {
  background-color: #bf7379;
  padding: 30px 10px;
  margin-top: 30px;
  border-radius: 25px;
  color: #f9f9f9;
}

.price-list table {
  width: 80%;
  margin: 0 auto;
}

.price-list table td {
  width: 50%;
}

.table-text {
  font-size: 14px;
  color: #f9f9f9;
  margin-top: 10px;
  letter-spacing: 0.5px;
}

/* Footer  */

.footer {
  background-color: #8f96a0;
  padding: 30px;
}

.social-nav-item {
  font-size: 35px;
}

.social-icons-list {
  display: flex;
  justify-content: space-between;
  width: 33%;
  margin: 0 auto;
  font-size: 200%;
}

.copyright {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  color: #fafafa;
  margin: 0;
  letter-spacing: 0.75px;
}

.copyright a {
  text-decoration: none;
  color: #2e294e;
  letter-spacing: 0.75px;
}

.copyright a:hover {
  color: #fafafa;
}

@media screen and (max-width: 768px) {
  .social-icons-list {
    width: 80%;
    font-size: 150%;
  }
}